<!DOCTYPE html>
<html>

<body >

<div class="container content" style="max-width:1800px;margin-top:80px">    
 
  <div class="row">
    
    <div class="col-md-3">
    
      <div class="w3-card-2 w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">My Profile</h4>
         <p class="w3-center">
         
<img src="http://localhost:2017/Backend/resources/images/{{currentUser.username}}" class="img-rounded" style="height:106px;width:106px" alt="upload Image"></p>
         <hr>
<p><a href="#/uploadPicture" class="btn btn-primary">Upload Picture</a></p>
         <p><span class="glyphicon glyphicon-user"></span>{{currentUser.username}}</p>
         <p><i class="glyphicon glyphicon-briefcase"></i>{{currentUser.role}}</p>
         <p><span class="glyphicon glyphicon-map-marker"></span>{{currentUser.place}}</p>
         <p><span class="glyphicon glyphicon-envelope"></span> {{currentUser.email}}</p>
        </div>
      </div>
      <br>
      
      <div class="btn-group-vertical" role="group" aria-label="...">


<a href="#/pendingRequest" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-user"></i><span class="glyphicon glyphicon-plus"></span>Pending Friend Requests</a>
  <a href="#/getAllJobs" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-briefcase"></i>View All Jobs</a>
  <a href="#/friendsList" class="btn btn-primary btn-block">Friends List</a>

</div>
      
      </div>
       
           
      <div class="col-md-8">
     
      <form ng-submit="addMessage()" name="messageForm">
      <div class="row">
      <div class="col-md-12"><div class="form-group">
        <textarea  class="form-control" placeholder="Compose a new message..." ng-model="message" ></textarea></div></div></div>
        <div class="info">
          <span class="count" ng-bind="max - message.length" ng-class="{danger: message.length > max}">140</span>
          <button class="btn btn-primary btn-sm" ng-disabled="message.length > max || message.length === 0">Send</button>
        </div>
      </form>
      <hr />
      <div class="jumbotron">
      <p ng-repeat="message in messages | orderBy:'time':true" class="message">
        <time>{{message.time | date:'HH:mm'}}</time>
        <span ng-class="{self: message.self}">{{message.message}}</span>
        
      </p>
       </div>

        
      </div>
      </div>
      
      </div>
    </body></html>