<!DOCTYPE html>
<html>

<body >

<div class="container content" style="max-width:1800px;margin-top:80px">    
 
  <div class="row">
    
    <div class="col-md-3">
    
      <div class="w3-card-2 w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">My Profile</h4>
         <p class="w3-center">
         
<img src="http://localhost:2017/Backend/resources/images/{{currentUser.username}}" class="img-rounded" style="height:106px;width:106px" alt="upload Image"></p>
         <hr>
<p><a href="#/uploadPicture" class="btn btn-primary">Upload Picture</a></p>
         <p><span class="glyphicon glyphicon-user"></span>{{currentUser.username}}</p>
         <p><i class="glyphicon glyphicon-briefcase"></i>{{currentUser.role}}</p>
         <p><span class="glyphicon glyphicon-map-marker"></span>{{currentUser.place}}</p>
         <p><span class="glyphicon glyphicon-envelope"></span> {{currentUser.email}}</p>
        </div>
      </div>
      <br>
      
      <div class="btn-group-vertical" role="group" aria-label="...">


<a href="#/pendingRequest" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-user"></i><span class="glyphicon glyphicon-plus"></span>Pending Friend Requests</a>
  <a href="#/getAllJobs" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-briefcase"></i>View All Jobs</a>
  <a href="#/friendsList" class="btn btn-primary btn-block">Friends List</a>

</div>
      
      </div>
       
           
      <div class="col-md-8">
      
      <table>
<tr>
<th>Job Title</th>
</tr>
<tr ng-repeat="job in jobs">
<td>
<a href="" ng-click="getJobDetail(job.jobId)" >{{job.jobTitle}}</a>
</td>
</tr>
</table>
<div ng-show="showJobDetail">
<div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16">Job Details</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>TITLE:</b></h5>
         
          <p>{{jobDetail.jobTitle}}</p>
          <hr></div>
          
           <div class="w3-container">
          <h5 class="w3-opacity"><b>JOB DESCRIPTION:</b></h5>
         
          <p>{{jobDetail.jobDescription}}</p>
          <hr></div>
           <div class="w3-container">
          <h5 class="w3-opacity"><b>SKILLS REQUIRED:</b></h5>
         
          <p>{{jobDetail.skillsRequired}}</p>
          <hr></div>
          
           <div class="w3-container">
          <h5 class="w3-opacity"><b>SALARY:</b></h5>
         
          <p>{{jobDetail.salary}}</p>
          <hr></div>
          
           <div class="w3-container">
          <h5 class="w3-opacity"><b>Location:</b></h5>
         
          <p>{{jobDetail.location}}</p>
          <hr></div>

      
     
      </div></div>
     </div>
    </body></html>